<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AMAZING APP</title>
        <link rel="stylesheet" href="static/admin_ui.css">
        <link rel="shortcut icon" href="/static/images/icon.png" type="image/x-icon">
    </head>
<body>
    <div class="statistic_wrapper">
        <div class="statistic">
            <div class="popup_close">
                <img src="/static/images/close.png" alt="close page">
            </div>
            <h1 class="statistic_title">Название опроса</h1>
            <div class="statistic_table_wrapper">
                <table class="statistic_table">
                    <thead>
                        <tr class="statistic_headers">
                            <th>Имя</th>
                            <th class="table_question_title">Название опроса 1</th>
                            <th class="table_question_title">Название опроса 1</th>
                            <th class="table_question_title">Название опроса 1</th>
                            <th class="table_question_title">Название опроса 1</th>
                        </tr>
                    </thead>
                    <tbody class="table_content">
                        <tr >
                            <th>Имя 1</th>
                            <td>Ответ 1</td>
                            <td>ответ 1</td>
                            <td>ответ 2</td>
                            <td>ответ 3</td>
                        </tr>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>

    </div>


    <div class="login_popup">
        <div class="centre_block">
            <form action="">
                
                <input id="nickname_field" placeholder="Введите никнейм" type="text" class="input_nickname_field">
                <input id="password_field" placeholder="Введите пароль" type="text" class="input_nickname_field">


                <input id="nickname_field" placeholder="Введи имя" type="text" class="input_login_field" required>
                <input id="password_field" placeholder="Введи пароль" type="text" class="input_login_field" required>
                <button type="submit" class="enter">Enter</button>
            </form>
        </div>
    </div>
    <div class="qr_code_popup_wrapper">
        <div class="qr_code_popup">
            <div class="popup_close">
                <img src="/static/images/close.png" alt="close page">
            </div>
            <h1 class="qr_code_popup_title">Почему пельмень внешне напоминает планету сатурн?</h1>
            <img src="/static/images/websiteQRCode_noFrame.png" alt="big qr code" class="qr_code_popup_img">
        </div>
    </div>
    <div class="edit_pop_up">
        <div class="edit_pop_up_container">
            <div class="popup_close">
                <img src="/static/images/close.png" alt="close page">
            </div>
            <h1 class="edit_pop_up_title">Title</h1>

            <div class="edit_pop_up_items ">
                <!-- <div class="edit_pop_up_item"> 
                    <div class="edit_pop_up_question_wrapper">
                        <input type="text" class="edit_pop_up_question" placeholder="Введите вопрос">
                        <img src="../static/images/trash.png" alt="delete" class="edit_pop_up_delete">
                    </div>
                    <div class="edit_pop_up_q_fields">
                        <div class="edit_pop_up_input_wrapper">
                            <input type="text" class="edit_pop_up_field" placeholder="введите ответ...">
                            <img src="../static/images/trash.png" alt="delete" class="edit_pop_up_delete">
                        </div>
                        <div class="edit_pop_up_input_wrapper">
                            <input type="text" class="edit_pop_up_field" placeholder="введите ответ...">
                            <img src="../static/images/trash.png" alt="delete" class="edit_pop_up_delete">
                        </div>
                        <div class="edit_pop_up_input_wrapper">
                            <input type="text" class="edit_pop_up_field" placeholder="введите ответ...">
                            <img src="../static/images/trash.png" alt="delete" class="edit_pop_up_delete">
                        </div>
                        <div class="edit_pop_up_input_wrapper">
                            <input type="text" class="edit_pop_up_field" placeholder="введите ответ...">
                        </div>
                        <div class="edit_pop_up_input_wrapper">
                            <button class="add_field edit_pop_up_field " placeholder="введите ответ...">Добавить ответ
                            <img src="static/close.png" alt="add answer" class="add_field_btn">
                        </div>
                    </div>
                </div> -->
            </div>
            <button class="edit_pop_up_question add_question">Добавить вопрос
                <img src="static/close.png" alt="add answer" class="add_field_btn">
            </button>
            <div class="edit_pop_up_btns">

                <button class="edit_pop_up_del">Удалить</button>
                <button class="edit_pop_up_save">Сохранить</button>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="container">
            <h1 class="hello">Здравствуйте, Гульназ!</h1>
            <div class="top_block">
                <input type="text" class="create_task_title" placeholder="Введите название опроса:">
                <button class="create_task">Создать новый опрос</button>
            </div>
            <h1 class="main_hr"></h1>
            <div class="tasks">
                <!-- <div class="task_item">
                    <h2 class="task_title">Почему пельмень внешне напоминает планету сатурн?</h2>
                    <div class="task_item_flex">
                        <div class="task_statistics task-tool"><img src="/static/images/statistics.png" alt="statistic"></div>
                        <div class="task_edit task-tool"><img src="/static/images/pencil.png" alt="pencil"></div>
                        <div class="task_qr task-tool"><img src="/static/images/qr-code.png" alt="create qr code"></div>
                    </div>
                </div> -->
            </div>
        </div>

    </div>
    <script src="/static/js/admin.js"></script>
</body>
</html>