<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="static/styles/homePage_ui.css">
    <link rel="shortcut icon" href="/static/images/icon.png" type="image/x-icon">
</head>
<body>
    <div class="container">
        <div class="first_part">
            <div class="header">
                <p style="color: #fff">Вы преподаватель? Войти или зарегистрироваться.</p>
            </div>
            <div class="game_code">
                <h1>Amazing app</h1>
                <form action="">
                    <div class="centre_block">
                        <input id="nickname_field" placeholder="Код квиза: GI7RBS" type="text" class="input_nickname_field">
                        <button type="submit" class="enter_nickname">Enter</button>
                    </div>
                </form>
            </div>
            <div class="bottom_part">
                
            </div>
        </div>
    </div>
    <script src="/static/js/homePage.js"></script>
</body>
</html>