<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AMAZING APP - Login</title>
    <link rel="stylesheet" href="/static/login.css">
    <link rel="shortcut icon" href="/static/icon.png" type="image/x-icon">
</head>
<body>
    <div class="login_popup">
        <div class="centre_block">
            <input id="nickname_field" placeholder="Введи никнейм" type="text" class="input_nickname_field">
            <button class="enter_nickname">Enter</button>
        </div>
    </div>
    <div class="main">
        <div class="container">
            <h1 class="some_amazing_logo">
                СЛАВА ПРИДУМАЙ НОРМАЛЬНОЕ НАЗВАНИЕ
            </h1>
            <div class="quiz">
                <h1 class="quiz_title"></h1>
                <hr class="quiz_hr">
                <div class="quiz_items">
                </div>
                <!--<div class="quiz_item">
                        <h2 class="quiz_item_title"><span class="quiz_item_num">1</span>: Как правильно нюхать бебру?</h2>
                        <div class="quiz_field">
                            <button class="quiz_answer active">answer 1</button>
                            <button class="quiz_answer">answer 1</button>
                            <button class="quiz_answer">answer 1</button>
                            <button class="quiz_answer">answer 1</button>
                        </div>
                    </div> -->
                <input type="submit" class="quiz_send" value="Отправить!">
            </div>
        </div>
    </div>
    <script src="/static/js/quiz.js"></script>
</body>
</html>