<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>START</title>
    <link rel="stylesheet" href="static/styles/homePage_ui.css">
    <link rel="shortcut icon" href="/static/images/icon.png" type="image/x-icon">
</head>
<body>
    <div class="con">
        <div class="center_block">
            <div class="game_code">
                <h1>Quizzle</h1>
                <form action="">
                    <div class="centre_block">
                        <input id="nickname_field" placeholder="Введите код квиза" type="text" class="input_nickname_field">
                        <input id="nickname_field_2" placeholder="Придумайте никнейм" type="text" class="input_nickname_field">
                        <button id="send_quiz" type="submit" class="enter_nickname">Enter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/static/js/startPage.js"></script>
</body>
</html>