<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>QUIZ PAGE</title>
    <link rel="stylesheet" href="/static/styles/userQuizPage_ui.css">
    <link rel="shortcut icon" href="/static/images/icon.png" type="image/x-icon">
</head>
<body>
    <div class="login_popup">
        <form action="">
            <div class="centre_block">
                <input id="nickname_field" placeholder="Введи никнейм" type="text" class="input_nickname_field">
                <button type="submit" class="enter_nickname">Enter</button>
            </div>
        </form>
    </div>
    <div class="main">
        <div class="container">
            <div class="header">
                <h1 class="some_amazing_logo">Quizzle</h1>
            </div>
            <div class="quiz">
                <div class="quiz_title">
                    <h1 class="quiz_title"></h1>
                    <hr class="quiz_hr">
                </div>
                <div class="quiz_items"></div>
                <div class="send_block">
                    <input type="submit" class="quiz_send" value="Отправить!">
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/userQuizPage.js"></script>
</body>
</html>